@import "tailwindcss";


.header-uppertop-con {
  @apply bg-black text-white flex flex-row items-center justify-center px-4 py-1.5 font-thin text-sm gap-2.5 fixed top-0 left-0 z-50 w-full;
}

.header-uppertop-underline {
  @apply underline hover:opacity-90 hover:cursor-pointer;
  @apply active:opacity-75
}

.header-nav-con {
  @apply bg-white text-black flex items-center py-2.5  fixed top-8 right-0 z-50 w-full gap-7;
}

.header-brand {
  @apply text-3xl font-black ml-29 mr-5 hover:underline hover:cursor-pointer;
  @apply active:opacity-75;
}

.header-nav-links {
  @apply hover:underline hover:cursor-pointer;
  @apply active:opacity-75;
}

.header-search-list {
  @apply bg-gray-100 flex items-center justify-between px-2 pl-6 py-1.5 rounded-md gap-2 shrink;
  @apply hover:cursor-pointer;
}

.header-search-input {
  @apply w-110
}

.header-search-input:focus {
  @apply outline-none;
}

.header-search-input::placeholder {
  @apply text-base font-thin; 
}

.header-cart-con {
  @apply ml-0
}

.header-cart, .header-profile {
  @apply hover:bg-gray-200 hover:cursor-pointer py-2 px-2 rounded-full;
  @apply active:opacity-75;
}


.hero-con {
  @apply mt-52 mx-30;
}

.hero-text {
  @apply text-6xl font-black text-center mb-4;
}

.hero-des {
@apply text-wrap text-base font-thin pt-3 text-gray-600
}

.hero-button-con {
  @apply mt-5;
}

.hero-button {
  @apply bg-black text-white px-10 py-2 rounded-full font-normal text-sm hover:opacity-90 hover:cursor-pointer;
  @apply active:opacity-75;
}

.hero-stats-con {
  @apply flex mt-12 gap-10;
}

.hero-stats-num {
  @apply text-4xl font-bold;
}

.hero-stats-text {
  @apply text-base font-thin text-gray-600;
}

.indexShop-image {
  @apply w-45 h-50 bg-gray-100; 
  @apply transition duration-300 ease-in-out;
  @apply active:opacity-75;  
}

.header-profile-con {
  @apply mr-20;
}

.indexShop-main {
  @apply my-50;
}

.indexShop-category-title {
  @apply text-4xl mb-20 text-center font-black;
}

.indexShop-category-title-con {
  @apply my-20;
}

.indexShop-products-con {
 @apply grid grid-cols-4 gap-10 mx-20 px-8 justify-center items-center;
}

.indexShop-product-image {
  @apply mb-10 justify-center items-center flex;
}

.indexShop-viewall {
  @apply text-center text-sm font-semibold py-2 px-5 flex items-center justify-center gap-2 mx-auto w-fit mt-5;
  @apply hover:bg-gray-200 hover:cursor-pointer hover:rounded-full;
  @apply active:opacity-75;
}

/*Yung truncate ay para maglagay ng elipsis (...)*/
.indexShop-product-title {
  @apply text-base font-semibold mb-2 truncate overflow-hidden whitespace-nowrap;
}

.indexShop-product-rating, .shopproducts-rating {
  @apply text-sm font-thin mb-2;
}

.indexShop-product-price, .shopproducts-price {
  @apply text-xl font-bold mb-2;
}

.title {
  @apply mt-52;
}

.category-flex {
 @apply my-20;
}

.happy-customers {
  @apply text-4xl mb-20 text-center font-black;
}

.indexShop-testimonials-con {
  @apply grid grid-cols-5 gap-10 mx-20 px-8 justify-center items-center;
  @apply hover:cursor-pointer;
}

.indexShop-testimonials-list {
  @apply hover:bg-gray-300 hover:rounded-lg hover:shadow-md p-5;
  @apply transition duration-300 ease-in-out;
}

.indexShop-testimonials-name-list {
  @apply flex flex-row gap-2 py-3
}

.indexShop-testimonials-name {
  @apply text-sm font-semibold;
}

.indexShop-testimonials-check {
  @apply w-6;
}

.indexShop-testimonials-message {
  @apply text-sm font-thin text-gray-600;
}

.indexShop-products-list {
  @apply hover:bg-gray-200 hover:rounded-lg hover:shadow-md p-5 hover:cursor-pointer;
  @apply transition duration-300 ease-in-out;
  @apply active:opacity-75
}

.indexShop-latest-list {
  @apply my-30 mx-20 flex gap-70 items-center bg-black text-white px-10 py-5 rounded-lg;
}

.indexShop-latest-title {
  @apply text-4xl font-black;
}

.indexShop-input {
  @apply w-90;
}

.indexShop-input-list {
  @apply flex items-center justify-between bg-white text-black px-5 py-2 rounded-full gap-3 mb-2.5;
}

.indexShop-input::placeholder{
  @apply text-base font-thin; 
}

.indexShop-input:focus {
  @apply outline-none;
}

.indexShop-button {
  @apply bg-white text-black px-5 py-2 rounded-full font-semibold text-base hover:opacity-90 hover:cursor-pointer w-110;
  @apply active:opacity-75;
}

.header-img {
  @apply w-12 h-12;
}

.prefooter-con {
  @apply flex flex-row items-center justify-evenly px-20 py-10;
}

.prefooter-brand-socials {
  @apply flex flex-row items-center gap-5;
}

.prefooter-social-icon {
  @apply w-5 h-8 text-gray-600 hover:text-black hover:cursor-pointer;
  @apply active:opacity-75;
}

.prefooter-con {
  @apply py-12 px-0 
}

.prefooter-brand-subtitle {
  @apply text-base font-thin text-gray-600 py-5 wrap-break-word;
}

.prefooter-brand-title {
  @apply text-3xl font-black;
}

.prefooter-company-title, .prefooter-help-title, .prefooter-faq-title, .prefooter-resources-title {
  @apply font-semibold text-lg mb-2 tracking-wide;
}

.prefooter-company-list, .prefooter-help-list, .prefooter-faq-list, .prefooter-resources-list{
  @apply text-base font-thin text-gray-600 mb-2;
}

.prefooter-company-item, .prefooter-help-item, .prefooter-faq-item, .prefooter-resources-item {
  @apply hover:underline hover:cursor-pointer;
  @apply active:opacity-75;
}

.footer-footer {
  @apply bg-black text-white text-center py-5;
}

.header-darkmode-icon {
  @apply cursor-pointer; 
}

.header-darkmode-toggle {
  @apply flex flex-row items-center justify-center gap-2;
}

.filters-main {
  @apply mx-30 w-70;
}

.filter-con {
  @apply flex flex-row items-center justify-between px-5 py-2.5 bg-gray-100 rounded-lg;
}

.filter-name, .filter-slider-title, .colors-options-title {
  @apply text-lg font-semibold
}

.filter-img-con {
  @apply hover:cursor-pointer hover:bg-gray-300 rounded-full py-2 px-2;
}

.filter-img, .foptions-img, .shop-link-img{
  @apply w-5;
}

.filter-options-con {
  @apply flex flex-col items-start px-4 py-2 bg-gray-100 rounded-lg mt-2;
}

.foptions-list {
  @apply text-base text-gray-600 hover:underline hover:cursor-pointer active:opacity-75;
}

.shop-con {
  @apply mx-30 mt-40 mb-10 flex flex-row items-start gap-2;
}

.shop-list {
  @apply text-sm text-gray-600 hover:underline hover:cursor-pointer;
}

.shopproducts-main {
  @apply border border-black w-350;
}

.shopproducts-con {
  @apply grid grid-cols-3 gap-10 mx-20 px-8 py-5 justify-center items-center;
}

.shopproducts-list {
  @apply hover:bg-gray-200 hover:rounded-lg hover:shadow-md p-5 hover:cursor-pointer;
  @apply transition duration-300 ease-in-out;
}

.shop-flex {
  @apply flex flex-row my-10;
}

.shopproducts-title {
  @apply text-lg font-semibold mb-2 truncate overflow-hidden whitespace-nowrap pt-5;
}

.filter-slider-title, .colors-options-title {
  @apply pt-5 pl-5;
}

.filter-slider {
  @apply w-full h-2 bg-black rounded-lg appearance-none cursor-pointer;
}

.filter-slider-value {
  @apply text-lg font-thin text-gray-600 text-center py-2;
}

/* Custom style for the slider thumb */
.filter-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: black; /* Tailwind green-500 */
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid black; /* Tailwind green-600 */
  transition: background 0.2s;
}

.filter-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: black;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid black;
  transition: background 0.2s;
}

.filter-slider::-ms-thumb {
  width: 20px;
  height: 20px;
  background: black;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid black;
  transition: background 0.2s;
}

.colors-options-list {
  @apply grid grid-cols-3 gap-2 mt-2;
}


.foptions-list-green, .foptions-list-red, .foptions-list-yellow, .foptions-list-orange, .foptions-list-skyblue, .foptions-list-blue, .foptions-list-violet, .foptions-list-pink, .foptions-list-white, .foptions-list-black {
  @apply w-15 bg-green-500;
  @apply hover:cursor-pointer hover:opacity-90;
  @apply active:opacity-75;
}

.foptions-list-red {
  @apply bg-red-500;
}

.foptions-list-yellow {
  @apply bg-yellow-500;
}

.foptions-list-orange {
  @apply bg-orange-500;
}

.foptions-list-skyblue {
  @apply bg-blue-400;
}

.foptions-list-blue {
  @apply bg-blue-500;
}

.foptions-list-violet {
  @apply bg-violet-500;
}

.foptions-list-pink {
  @apply bg-pink-500;
}

.foptions-list-white {
  @apply bg-white;
}

.foptions-list-black {
  @apply bg-black;
}